<%- include("includes/start.ejs") %>
</head>
<%- include("includes/navigation.ejs") %>
    <h1>Something went wrong </h1>
    <p>We are sorry for the incovinience. we are working on it. please try again latter.</p>
<%- include("includes/end.ejs") %>    